<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>まるでTwitter</title>
         <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <header>
                <ul>
                  <li><a href="#">ホーム</a></li>    
                  <li><a href="#">呟く</a></li>
                  <li><a href="#">呟き一覧</a></li>
                </ul>
                 <div id="icon" >
          　       <img src="images/Twitter_Logo_White_On_Blue.png"
          　         alt="" width="35px" height="35px">
          　    </div>
      </header>
      　　<div class="contents">
                <div class="content">
                    <img src="images/icon.png" class="img-responsive center-block">
                    <div class="user"><h4>おすすめのユーザー</h4>
                        <ul>
                            <li>いえねこ<a class="btn">フォローする</a></li>
                            <li>のらねこ<a class="btn">フォローする</a></li>
                            <li>すてねこ<a class="btn">フォローする</a></li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <h4>呟き一覧</h4>
                </div>
          </div>
                
            
            
        <footer>
            <p>運営会社Yamaneko株式会社</p>
            <p>© 2016-2017 Copyright Yamaneko Corp.</p>
        </footer>
    </body>
</html>